<section class="count_info">
        <div>
            {{ T "footer.runtime1" }}
            <span id="ds" class="running-days"></span>
            {{ T "footer.runtime2" }}
            <span id="hs" class="running-days"></span>
            {{ T "footer.runtime3" }}
            <span id="ms" class="running-days"></span>
            {{ T "footer.runtime4" }}
        </div>
        <div>
            {{$scratch := newScratch}}
            {{ range (where .Site.Pages "Kind" "page" )}}
            {{$scratch.Add "total" .WordCount}}
            {{ end }}
            {{ T "footer.count1" }} {{ len (where .Site.RegularPages "Section" "post") }} {{ T "footer.count2" }} {{ div ($scratch.Get "total") 1000.0 | lang.FormatNumber 2 }} k {{ T "footer.count3" }}
        </div>
        <div>
		<script async src="//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js">
</script>
            <span id="busuanzi_container_site_pv">{{ T "footer.pv1" }}<span id="busuanzi_value_site_pv"></span>{{ T "footer.pv2" }}</span>
        </div>
</section>

<!-- Add blog running time -->
<script>
    let s1 = '2022-7-14'; //website start date
    s1 = new Date(s1.replace(/-/g, "/"));
    let s2 = new Date();
    let timeDifference = s2.getTime() - s1.getTime();

    let days = Math.floor(timeDifference / (1000 * 60 * 60 * 24));
    let hours = Math.floor((timeDifference % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
    let minutes = Math.floor((timeDifference % (1000 * 60 * 60)) / (1000 * 60));
    document.getElementById('ds').innerHTML = days;
    document.getElementById('hs').innerHTML = hours;
    document.getElementById('ms').innerHTML = minutes;

</script>
